@import "tailwindcss";

.error-msg{
    @apply text-red-500
}
html, body, #root {
  height: 100%;
  margin: 0;
  overflow:auto
}

.animation1 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: -0.4s;
}

.animation2 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: -0.2s;
}

.animation3 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: 0s;
}
